
  
  .footer {
    position: relative;
    background: #49230e;
    color: white;
    text-align: center;
    overflow: hidden;

  }
  footer {
  position: fixed;
  bottom: 0; 
  left: 0; 
  width: 100%; 
  background-color: #333; 
  color: white;
  text-align: center; 
  padding: 10px 0; 
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.3);
}
  .footer .wave {
    position: absolute;
    top: -50px;
    left: 0;
    width: 200%;
    height: 100px;
    background: #8b3e14;
    border-radius: 100%;
    animation: waveAnimation 5s infinite linear;
  }
  
  .footer-text {
    padding: 50px 20px;
    animation: bounceText 3s infinite ease-in-out;
  }
  
  .footer-text p {
    color: #bea99e;
    font-size: 18px;
    font-weight: bold;
  }
  
  /* Animations */
  @keyframes waveAnimation {
    0% { transform: translateX(-50%); }
    50% { transform: translateX(0); }
    100% { transform: translateX(-50%); }
  }
  
  @keyframes bounceText {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
  }
  