@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
    transition: all ease 0.1s;
}
body{
    height: 100%;
    background-color: #FFFFFF;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer {
    margin-top: auto; 
}

a{
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    
}

 /* Custom scrollbar */
 ::-webkit-scrollbar {
    width: 10px;
  }
  
  
  ::-webkit-scrollbar-track {
    background: #f8e2d2;
  }
  

  ::-webkit-scrollbar-thumb {
    background: #e76621;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  } 

/* Sidebar style */

:root {
    --text: #c5c5d1;
    --background: #29231841;
    --secondary: #76768a3d;
    --hover: #ddd7d1;
    --accent: #494969;
  }



#sidebar {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 4%;
    height: 100vh;
    padding: 1rem;
    z-index: 1000;
  }

  .progress-bar {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border: 2px solid var(--secondary);
    border-radius: 2rem;
    padding: 1rem;
    cursor: pointer;
  }

  
li {
    list-style: none;
    width: 1rem;
    height: 1rem;
    background-color: var(--secondary);
    border-radius: 2rem;
    
  }

  li a{
    opacity: 0;
    color: #22201f;
  }
  
  li:hover {
    background-color: var(--hover);
  }
  
  .progress-bar:hover li {
    width: 100%;
    height: 100%;
    padding: 0.5rem 1rem;
  }
  
  li.active {
    background-color: var(--accent);
  }
  
  .progress-bar:hover a {
    opacity: 1;
  }
  
  .section {
    height: 100vh;
  }

/*Navbar style*/

.container-topnav{
    display: flex;
    justify-content: space-evenly;
    padding-top:3em ;
    
}

header{
    height: 8em;
}

header nav{
    
    height: auto;
}

/* Section 1 style */ 

#section1{
    margin-top: 0;
    padding-top: 0;
    position: relative;
    height: 100dvh;
    background: linear-gradient(to top, #f8ece4, #eb7b40);
}

.logo{
    width: 5em;
}

.link:link{
    color: rgb(107, 72, 27);
}
.link:visited{
    color: #22201f;
}
.link:active{
    color: #ffffff;
}

.link{
    text-decoration: none;
    box-shadow: inset 0 0 0 0 #f6f8f8;
    color: #f3f7fa;
    width: auto;
    height: 2em;
}
.link:hover{
    
    color: #f3f7fa;
    font-weight: bolder;
}

.cagnotte img{
    display: inline-block;

}
.cagnotte {
  align-items: center;
  background-color: #30241d;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  width: 18em;
  height: 2em;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
}

.cagnotte:hover,
.cagnotte:focus { 
  background-color: #5f341c;
  color: #ffffff;
}

.cagnotte:active {
  background: #362115;
  color: rgb(255, 255, 255, .7);
}

.cagnotte:disabled { 
  cursor: not-allowed;
  background: rgba(0, 0, 0, .08);
  color: rgba(0, 0, 0, .3);
}

/* Main text and button style */

.acheter1 {
    display: inline-block;
    border-radius: 20px;
    background-color: #30241d;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    width: 60%;
}
  
.acheter1 span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
  
.acheter1 span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
  
.acheter1:hover span {
    padding-right: 25px;
}
  
.acheter1:hover span:after {
    opacity: 1;
    right: 0;
}

.main-text{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.main-text h1{
    margin-bottom: 1.5em;
    font-weight: bold;
    font-size: 44px;
    width: 20em;
}
.main-text p{
    font-weight: normal;
    text-align: center;
    font-size: 24px;
    margin-bottom: 2em;
    font-family: poppins-medium;
    width: 30em;
}

/* Section 2 style*/

#section2 {
    min-height: 100dvh; 
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-sizing: border-box;
    background: #f8ece4;
    
}

.main-text2{
    padding: 10px;
    flex: none;
}

.main-text2 h1{
    text-align: justify;
    font-size: 34px;
    margin-bottom: 1.5em;
}
.main-text2 p{
    text-align: justify;
    font-size: 24px;
    margin-bottom: 1em;
    width: 70%;
}


.main-text2 , .image{
    flex: 1; 
    max-width: 50%; 
}

.button{
    
    border-radius: 4px;
    background-color: #000000;
    border: none;
    color: #FFFFFF;
    font-size: 15px;
    text-align: center;
    font-weight: bold;
    padding: 10px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    width: 20%;
}

.image{
    padding: 10px;
    height: auto;
    display: inline-block;
    flex: none;
}

.image img {
    display: block;
    max-width: 100%;
    height: auto;
    opacity: 0;
    transform: translateY(20px);
    transition: all 1s ease-out;
}

.image img.visible {
    opacity: 1;
    transform: translateY(0);
}


/* Section 3 style */

#section3{
    height: 100dvh;
    background: linear-gradient(to bottom, #f8ece4, #e7844f,#f8ece4);
    min-height: 100dvh; 
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-sizing: border-box;
}

/* Section 4 style */

#section4{
    height: 100dvh;
    background: #f8ece4;
    min-height: 100dvh; 
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-sizing: border-box;
}

/* Section 5 style */

#section5{
    height: 50dvh;
    background: linear-gradient(to bottom, #f8ece4, #eb7b40);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    text-align: center;
}

#section5 h1 {
    font-size: 2.5rem;
    margin-bottom: 40px; 
}

.content {
    display: flex; 
    justify-content: space-around;
    align-items: flex-start;
    gap: 30px; 
    width: 100%;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center; 
}

.item img {
    max-width: 100%; 
}

.item h2 {
    font-size: 2rem;
    margin: 10px 0; 
}

.item p {
    font-size: 1rem;
    margin: 10px 0; 
    max-width: 200px; 
    font-weight: bold;
}

/* Section 6 (footer) style */

#section6{
    height: 17dvh;
    background-color: #14100d;
}

#section6 p{
    color: #FFFFFF;
    text-align: center;
    font-size: 18px;
    padding-top: 30px;
}

/*Comment ca marche style*/

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 20px;
    padding: 20px;
}

.question {
    background-color: #f5efec;
    border: 1px solid #dbd7ca;
    border-radius: 8px;
    padding: 15px;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    transition: transform 0.2s;
}

.question:hover {
    transform: scale(1.05);
}

.answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease, opacity 0.5s ease;
    opacity: 0;
    background-color: #fcd6be;;
    padding: 0 15px;
    border-radius: 8px;
    margin-top: 10px;
}

.answer p{
    line-height: 1.5em;
    font-size: 18px;
}

.question.open + .answer {
    max-height: 100px;
    opacity: 1;
    padding: 15px;
}

/* Back arrow style */

.arrow{
    position:relative;
    width:30px;
    height: 30px;
    cursor:pointer;
    transition:0.5s;
    overflow:hidden;
  }
  
  .arrow:hover{
    border:solid 2px rgb(46, 41, 41); 
    border-radius:50%;
  }
  .arrow:after{
    position:absolute;
    display:block;
    content:"";
    color:rgb(0, 0, 0);
    width: 20px;
    height: 15px;
    top:-1px;
    border-bottom:solid 2px;
    transform:translatex(4px);
  }
  
  .arrow:before{
    position:absolute;
    display:block;
    content:"";
    color:rgb(34, 32, 32);
    width: 8px;
    height: 8px;
    border-top:solid 2px;
    border-left:solid 2px;
    top:50%;
    left:2px;
    transform-origin:0% 0%;
    transform:rotatez(-45deg);
  
  }
  .arrow:hover:before{
   animation: aniArrow01 1s cubic-bezier(0, 0.6, 1, 0.4) infinite 0.5s;
  }
  
  .arrow:hover:after{
   animation: aniArrow02 1s cubic-bezier(0, 0.6, 1, 0.4) infinite 0.5s;
  }
  
  
  @keyframes aniArrow01 {
    0% {
      transform:rotatez(-45deg) translateY(30px) translateX(30px);
    }
    100% {
      transform: rotatez(-45deg) translateY(-35px) translateX(-35px);
    }
  }
  
  
  @keyframes aniArrow02 {
    0% {
      transform:translateX(45px);
    }
    100% {
      transform:translateX(-44px);
    }
  }
  
  @keyframes borderAni{
     0% {
      border:solid 2px rgb(0, 0, 0);
    }
    100% {    
      border:solid 2px rgb(0, 0, 0); 
      border-radius:50%;
    }
  }

  /* Authentification style */
  
  .auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f5f5f5;
  }
  
  .auth-box {
    background-color: #fff;
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    position: absolute;
    transition: opacity 0.3s, transform 0.3s;
  }
  
  .hidden {
    display: none;
  }
  
  .auth-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .auth-form .form-group {
    margin-bottom: 15px;
  }
  
  .auth-form label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
    color: #333;
  }
  
  .auth-form input {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #c9c7c5;
    border-radius: 4px;
  }
  
  .auth-button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #000000;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .auth-button:hover {
    background-color: #30241d;
  }
  
  .auth-footer {
    margin-top: 15px;
    text-align: center;
    font-size: 14px;
  }
  
  .auth-footer a {
    color: #22201f;
    text-decoration: none;
    cursor: pointer;
  }
  
  .auth-footer a:hover {
    text-decoration: underline;
  }
  
  
@media (max-width: 768px) {
    
    .container-topnav {
        flex-direction: row; 
        justify-content: space-between; 
        padding-top: 1.5em; 
        gap: 10px;
    }
    .section1{
        height: 70dvh;
    }
    .link {
        font-size: 16px; 
        padding: 5px 10px; 
    }

    .logo img {
        width: 3em;
    }

    .main-text {
        width: 90%; 
        top: 40%; 
        padding-bottom: 2em;
    }

    .main-text h1 {
        font-size: 30px; 
        width: 100%;
        margin-bottom: 1em;
    }

    .main-text p {
        font-size: 18px; 
        width: 100%;
        margin-bottom: 1.5em;
    }

    .acheter1 {
        font-size: 20px; 
        padding: 12px; 
        width: 90%;
        margin-bottom: 1em;
    }

    .main-text2 h1 {
        font-size: 28px; 
    }

    .main-text2 p {
        font-size: 18px;
        width: 100%; 
    }

    .section2 .image img {
        max-width: 100%; 
    }

    .cagnotte {
        font-size: 10px; 
        height: 2.5em; 
        width: auto; 
        padding: 5px 10px; 
        white-space: nowrap; 
    }

    .button {
        font-size: 14px; 
        padding: 8px 16px;
        width: auto;
    }
    .section5 .item img {
        width: 50px; 
        height: auto;
    }

    .item h2 {
        font-size: 1.5rem; 
    }
    .item p {
        font-size: 1rem;
        max-width: 90%;
    }
    .section6 p{
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    
    .container-topnav {
        gap: 5px; 
        padding-top: 0.5em;
    }
    .section1{
        height: 70dvh;
    }
    .link {
        font-size: 14px; 
        padding: 5px 8px; 
    }
    .logo img {
        width: 2.5em; 
    }
    
    .main-text {
        top: 35%; 
        padding-bottom: 1em;
    }

    .main-text h1 {
        font-size: 24px;
        margin-bottom: 0.8em;
    }

    .main-text p {
        font-size: 14px; 
        margin-bottom: 1em;
    }

    .main-text2 h1 {
        font-size: 24px;
    }

    .main-text2 p {
        font-size: 16px;
        width: 100%;
    }

    .cagnotte {
        padding: 8px;
        font-size: 12px;
        width: 100%; 
    }

    .acheter1 {
        font-size: 16px;
        padding: 10px;
        width: 100%; 
    }

    .section5 h1 {
        font-size: 1.6rem; 
    }

    .section5 .item img {
        width: 30px; 
    }

    .item h2 {
        font-size: 1.3rem; 
    }

    .item p {
        font-size: 0.7rem; 
    }

    .section6 p{
        font-size: 16px;
    }
}
